<h4>A propos</h4>
<h5 id="size5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, assumenda soluta veniam at, doloribus est quisquam minima accusantium asperiores nam aspernatur nisi dolorum officiis explicabo, odio dolores dolor excepturi possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime enim, nemo quibusdam voluptatum non aliquid debitis commodi nostrum animi perferendis dicta ea quam a necessitatibus similique, vero delectus aliquam laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tenetur ipsum a nam dolorum vero consequuntur repellendus. Culpa, ea magni iusto, sequi laudantium nobis, cum distinctio sunt nemo itaque esse! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quos, alias repellat omnis aliquam similique ab, odio debitis quibusdam aperiam.</h5>
<div class="wrapper">
    <div class="card"><img src="../../assets/images/professeur.jpg" />
        <div class="info">
            <h1>Professeur</h1>
            <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p><button>Read More</button></div>
    </div>
    <div class="card"><img src="../../assets/images/photos5.jpg" />
        <div class="info">
            <h1>Etudiant</h1>
            <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p><button>Read More</button></div>
    </div>
    <div class="card"><img id = "ensim" src="../../assets/images/ensim.svg"/>
        <div class="info">
            <h1>Ecole</h1>
            <p>Lorem Ipsum is simply dummy text from the printing and typeseting industry</p><button>Read More</button></div>
    </div>
</div>