h4.capitalize {
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}


#container {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: -10vh;
    z-index: 1;
  }

  .circle1 {
    border-radius: 50%;
    background-color: #FFF;
    width: 150px;
    height: 150px;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
  }

  .item {
    z-index: 100;
    padding: 5px;
  }

  .item img {
    width: 100px;
    cursor: pointer;
  }

  .active{

  }

#loading {
		animation: rotation 2s infinite linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

#play {
  animation: shake 1s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

  @keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }